/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative !important;
    min-height: 100% !important;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 70px;
}
.wrapper{
    display: flex;
    align-items: stretch;
}
.mtab{
    font-size:14px;
}
.bottom {position: absolute; padding: 10px; bottom: 0; width: 100%; font-size:12px; background-color: #eee;}
.bottom a{color: #28608F; font-weight: bold;}


/* Theme colors */
.navbar-inverse {
    background-color: #28608F;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.navbar-default{
    background-color: #337AB7;
}
.navbar-default .navbar-nav>li>a{
    color: white !important;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: white !important;
    background-color: #28608F;
}


/* Dropdown */
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #28608F !important;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #eee;
}
.navbar-nav>li>.dropdown-menu>li>a{
    color: black !important;
}
.navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-nav>li>.dropdown-menu>li>a:focus{
    color: white;
    background-color: #93CAF0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #255885;
}
.navbar-default .navbar-toggle {
    border-color: #ccc;
    color: #A7D3FA;
}

/* End theme colors
-------------------------------------------------- */

/* Navbar positions */
.navbar-inverse,
.navbar-inverse.container-fluid,
.nav1.navbar-nav li a,
.nav1 ul.nav.navbar-nav>li>a.navbar-brand {
    min-height: 0px;
    line-height: 20px;
    height: 30px !important;
}
.nav1 .navbar-nav>li>a,
.nav1 .navbar-nav>li>a.navbar-brand{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.nav-exit{
    position: absolute !important;
    right: 0;
}
.navbar-nav{
    width: 100% !important;
    margin: 0 !important;
}
.navbar-brand{
    margin-left: -15px !important;
}
.nav2{
    margin-top: 30px;
    height: 40px;
    line-height: 30px;
    min-height: 0px;
}
.nav2 .navbar-nav>li>a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.navbar{
    border: none;
}


/* Forms Theme
-------------------------------------------------- */
.form-control{
    height: 28px;
    padding: 2px;
}
.form-group {
    margin-bottom: 8px;
}
.meuselect{
    width: 100%;
}

/* Responsive table overflow */
.table-of{
    overflow-x:auto;
}
.img-field{
    max-width: 285px;
    max-height: 500px;
    margin: auto;
    margin-bottom: 15px;
}
.img-field img{
    max-width: 100%;
}
.thumbnail {
    border: 1px solid #f0f0f0;
}
.alert, .h2{
    margin-top: 10px;
}
.h2{
    font-weight: bold;
    font-size: 25px;
    color: #28608F;
}
.divider{
    background-color: #C5C5C5 !important;
}
.modal-dialog{
    top: 50% !important;
    transform: translate(0, -50%) !important;
}
.modal-header .close{
    position: absolute !important;
    right: 15px;
    top: 20px;
}
/*Card Style
-------------------------------------------------- */
.inicio-card{
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    background-color: white;
    position: relative;
    margin-bottom: 15px;
}
.card-header:first-child{
    border-radius: 2px 2px 0 0;
    background-color: #28608F;
    color: white;
}
.inicio-card>.card-header{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
.inicio-card>.card-header a{
    color: white;
    display:inline-block;
    width:100%;
}
.inicio-card>.card-header svg{
    position: absolute;
    right: 5;
    top: 10;
}
.inicio-card>.card-header h1{
    margin: 0;
}
.fc-list-heading,
.card-sub-header{
    /* background-color: #93CAF0; */
    background-color: #eee;
    padding: 5px;
    font-size: 16px;
    color: black;
}
.inicio-card>.card-body{
    height: 426px;
    overflow-y: auto;
}
.inicio-card>.card-body p{
    margin: 0;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #f0f0f0;
}
.fc-list-view {
    border: 0 none !important;
}
.fc-body.card-body{
    background-color:white;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid #f0f0f0;
}

/* singin 
-------------------------------------------------- */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="nome"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="senha"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
